<title>Lunar - Your soon to be favourite Discord bot!</title>

<link rel='icon' href='/resources/favicon.ico'>

<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<link rel='stylesheet' href='/css/main.css'>

<script type='module' src='/js/main.mjs'></script>
