<div id='header'>
	<img id='logo' src='/orbit/resources/logo.svg' draggable='false' alt='Orbit logo'>

	<ul id='navLinks'>

		<li><a href='/orbit/'>Home</a></li>
		<li><a href='/orbit/dashboard'>Dashboard</a></li>
		<li><a href='/orbit/support'>Support</a></li>
		<li><a href='/orbit/auth/logout'>Logout</a></li>

	</ul>

	<% if (user) { %>
		<div id='loginButton'>

			<img id='userAvatar' src='https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=32' draggable='false' alt='User avatar'>
			<%= user.username %>

		</div>

		<script>
			document.getElementById('loginButton').addEventListener('click', () => document.location.replace('/orbit/dashboard'));
		</script>

	<% } else { %>
		<div id='loginButton'>Login</div>

		<script>
			document.getElementById('loginButton').addEventListener('click', () => document.location.replace('/orbit/auth'));
		</script>
	<% } %>
</div>

<div id='subHeader'>
	<p>There are going to be bugs, please report them through support channels. Thanks a lot!</p>
</div>
