<a href='/orbit'><img id='logo' src='/orbit/resources/logo.svg' draggable='false'></a>

<div id='navigation'>

	<div id='navigationLinks'>

		<a href='/orbit/dashboard'>Dashboard</a>
		<a href='/orbit/support'>Guide</a>
		<a href='/orbit/support/server'>Support server</a>

	</div>

	<% if (user) { %>
		<div id='userProfile' onclick='expandUserProfileDropdown(event)'>

			<div id='userProfileData'>
				<img id='userProfileDataAvatar' src='https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=32' draggable='false'>
				<%= user.username %>
			</div>

			<ul id='userProfileDropdown'>

				<li class='userProfileDropdownEntry' onclick="location.href = '/orbit/dashboard'">My servers</li>

				<li class='userProfileDropdownEntry' onclick="event.stopPropagation(); toggleTheme(); document.getElementById('themeSwitchToggle').checked = !document.getElementById('themeSwitchToggle').checked">
					<div id='themeSwitch' class='settingEnabled'>
						<p id='themeSwitchText'>Dark mode</p>
						<input id='themeSwitchToggle' class='settingEnabledSwitch' type='checkbox'>
					</div>
				</li>

				<li class='userProfileDropdownEntry' onclick="location.href = '/orbit/auth/logout'" style='color: #ff0000;'>Logout</li>

			</ul>

		</div>
	<% } else { %>
		<button id='loginButton' type='button' onclick="location.href = '/orbit/auth'">Login</button>
	<% } %>

</div>
