<div id='headerContainer'>

	<img id='logo' src='/resources/logo.svg' onclick='location.href = `/`' draggable='false'>

	<div id='navigation'>

		<a href='/dashboard'>DASHBOARD</a>
		<a href='/support'>SUPPORT</a>
		<a href='/support/server'>DISCORD SERVER</a>

		<% if (user) { %>
			<div id='userProfile' onclick='expandUserProfileDropdown(event)'>

				<div id='userData'>
					<img id='userAvatar' src="<%= `https://cdn.discordapp.com/${ user.avatar ? `avatars/${user.id}/${user.avatar}.png?size=28` : `embed/avatars/${user.discriminator % 5}.png` }` %>" draggable='false'>
					<p id='userName'><%= user.username %></p>
				</div>

				<ul id='userProfileDropdown'>

					<li class='userProfileDropdownEntry' onclick='location.href = `/dashboard`'>MY SERVERS</li>

					<li class='userProfileDropdownEntry' onclick='toggleTheme(event)'>
						DARK MODE
						<input id='themeSwitch' class='settingEnabledSwitch' type='checkbox'>
					</li>

					<li class='userProfileDropdownEntry' style='color: var(--colour-red)' onclick='location.href = `/auth/logout`'>LOGOUT</li>

				</ul>

			</div>
		<% } else { %>
			<button id='loginButton' type='button' onclick='location.href = `/auth`'>LOGIN</button>
		<% } %>

	</div>

</div>
