<title>Orbit - Manage Lunar for your Discord server</title>

<link rel='icon' href='/resources/favicon.png'>

<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<link rel='stylesheet' href='/css/main.css'>

<script type='module' src='/js/main.mjs'></script>
