<div class='formButtonsContainer'>
	<span class='syncChanges material-icons'></span>
	<button class='cancelChangesButton' type='button' onclick='<%= cancelFunction %>'>CANCEL</button>
	<button class='saveChangesButton' type='button' onclick='<%= saveFunction %>'>SAVE</button>
</div>
