<ul class='discordRoleList'>

	<% for (const guildRole of guildRoles) { %>
		<li class='discordRoleListEntry' style='color: <%= guildRole.color %>;' data-discord-role='<%= guildRole.id %>' onclick='addDiscordRole(event)'><%= guildRole.name %></li>
	<% } %>

</ul>
