<div class='discordChannelListContainer' onclick='expandDiscordChannelList(event)'>

	<div class='discordChannelListHeader'>
		<p class='discordChannelName'>#<%= guildChannels.find((guildChannel) => guildChannel.id === currentDiscordChannel)?.name %></p>
		<span class='material-icons'>expand_more</span>
	</div>

	<ul class='discordChannelList'>

		<% for (const guildChannel of guildChannels.filter((guildChannel) => !guildChannel.parent_id)) { %>
			<li class='discordChannelListEntry' onclick='changeSelectedDiscordChannel(event)'><p>#<%= guildChannel.name %></p></li>
		<% }

		for (const guildCategory of guildCategories) { %>
			<div class='discordChannelListCategory'>
				<p class='discordChannelListCategoryName'><%= guildCategory.name %></p>
				<ul>
					<% for (const guildChannel of guildChannels.filter((guildChannel) => guildCategory.id === guildChannel.parent_id)) {%>
						<li class='discordChannelListEntry' onclick='changeSelectedDiscordChannel(event)'><p>#<%= guildChannel.name %></p></li>
					<% } %>
				</ul>

			</div>
		<% } %>

	</ul>

</div>
