<% if (role) {
	const guildRole = guildRoles.find((guildRole) => guildRole.id === role) %>

	<div class='discordRole' data-discord-role='<%= role %>'>
		<div class='discordRoleColour' style='background-color: <%= guildRole?.color %>;'></div>
		<p class='discordRoleName'><%= guildRole?.name %></p>

		<span class='deleteDiscordRole material-icons' onclick='deleteDiscordRole(event)'>clear</span>
	</div>

<% } else { %>

	<div class='addDiscordRole' onclick='expandDiscordRoleList(event)'>
		<span class='material-icons'>add</span>
		
		<%- include('../components/listDiscordRole.ejs') %>
	</div>

<% } %>
