<div id='saveChanges'>
	<p>Hold up! You have unsaved changes.</p>
	<span class='syncChanges material-icons'>sync</span>
	<button id='revertChangesButton' type='button' onclick='<%= cancelFunction %>'>REVERT</button>
	<button id='saveChangesButton' type='button' onclick='<%= saveFunction %>'>SAVE CHANGES</button>
</div>
