<div id='saveChanges'>
	<p>Hold up! You have unsaved changes.</p>
	<button id='revertChangesButton' type='button' onclick='revertChanges()'>REVERT</button>
	<button id='saveChangesButton' type='button' onclick='saveChanges()'>SAVE CHANGES</button>
</div>
