<div class='settingEnabled'>
	<span class='syncChanges material-icons'>sync</span>
	<input class='settingEnabledSwitch' type='checkbox' onclick="saveSettingEnabled(event, '<%= subFeature %>')" <%= settings.enabled ? 'checked' : '' %>>
</div>
