<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/orbit/css/dashboard.css'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

		<script src='/orbit/js/manageData.js' defer></script>
		<script src='/orbit/js/dashboard.js' defer></script>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('./partials/sidebar.ejs') %>

				</div>

				<div id='settingData' data-feature=''>
					<ul id='settingList'>

					</ul>
				</div>

			</div>
		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
