<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>

			<div id='errorContainer'>
				<div id='errorMessage'>
					<p>Something happened that should have never happened...</p>
					<p>While we try to figure out what went wrong, watch <span onclick='window.open(`https://www.youtube.com/watch?v=dQw4w9WgXcQ`, `_blank`)' style='color: var(--colour-orange)'>this</span> video of adorable dogs to cheer you back up.</p>
				</div>

				<p id='errorMessageFooter'>If you keep finding your way back to this place, it is probably a good idea to check out the <a href='/support/server' style='color: var(--colour-orange)'>Support Discord</a> for status updates.</p>
			</div>

		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
