<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/index.css'>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>

			<div id='landingPage'>

				<div id='mainHeader'>
					<img id='landingPageIcon' src='/resources/icon.webp' draggable='false'>

					<div id='textContainer'>
						<p class='mainText'>Lunar</p>
						<p class='subText'>YOUR SOON TO BE FAVOURITE DISCORD BOT!</p>
					</div>

					<div id='buttonContainer'>
						<button class='headerButton' type='button' onclick='location.href = `/invite`'>TRY IT OUT</button>
						<button class='headerButton' type='button' onclick='location.href = `/dashboard`'>MANAGE SETTINGS</button>
					</div>
				</div>

			</div>

		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
