<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

	</head>

	<body>

		<%- include('./partials/header.ejs') %>

		<!-- TODO: Change the URL to production -->
		<a id='login' href='https://discord.com/api/oauth2/authorize?client_id=827556501631139891&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Fauth%2Flogin&response_type=code&scope=identify%20guilds&prompt=none'>Login</a>

		<a id='dashboard' href='/dashboard'>Dashboard</a>

		<a id='logout' href='/auth/logout'>Logout</a>

	</body>

	<footer>

		<%- include('./partials/footer.ejs') %>

	</footer>

</html>
