<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/orbit/css/index.css'>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>

			<div id='mainHeader'>
				<h1>Manage your favourite Discord Bot</h1>
			</div>

			<div id='subtext'>
				<p>Change each individual setting to your personal liking</p>
			</div>

		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
