main {
	display: flex;
	overflow: hidden;
}

#dashboard {
	max-width: 75%;
	display: flex;
	flex: 1 1 auto;
	margin: 2% 12.5% 2% 12.5%;
	background: var(--colour-dark-grey);
	box-shadow: var(--shadow-default);
}

#featureSidebar {
	min-width: 250px;
	overflow: auto;
	padding: 15px 20px 15px 20px;
	background: var(--colour-black);
	user-select: none;
	scrollbar-width: none;
	transition: var(--transition-collapse);
}

#featureSidebar::-webkit-scrollbar {
	width: 0;
}

#currentServer {
	min-height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#currentServerData {
	max-width: 67%;
	display: flex;
	align-items: center;
}

#currentServerDataIcon {
	margin: 0 12.5px 0 12.5px;
}

#currentServerDataName {
	color: var(--colour-light-grey);
}

#sidebarButtonContainer {
	display: flex;
}

#changeCurrentServerButton {
	background: inherit;
	color: var(--colour-light-grey);
	transition: var(--transition-hover);
}

#changeCurrentServerButton:hover {
	color: var(--colour-white);
}

#collapseSidebarButton {
	background: inherit;
	color: var(--colour-light-grey);
	transition: var(--transition-hover);
}

#collapseSidebarButton:hover {
	color: var(--colour-white);
}

#changeCurrentServerButton div, #collapseSidebarButton div {
	margin: 5px 5px 5px 5px;
}

#featureSidebar.collapsed {
	min-width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 7.5px 15px 7.5px;
}

#featureSidebar.collapsed #currentServer {
	flex-direction: column-reverse;
}

#featureSidebar.collapsed #currentServerData {
	justify-content: center;
	margin: 12.5px 0 12.5px 0;
}

#featureSidebar.collapsed #currentServerDataName {
	display: none;
}

#featureSidebar.collapsed #changeCurrentServerButton {
	display: none;
}

#featureSidebar.collapsed #collapseSidebarButton {
	transform: rotate(180deg);
}

#featureSidebar.collapsed .featureSidebarCategory {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#featureSidebar.collapsed .featureSidebarCategoryLinkText {
	display: none;
}

.featureSidebarCategoryName {
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 67.5%;
}

.featureSidebarCategoryLink, .featureSidebarCategoryLink:visited {
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 85%;
	color: var(--colour-light-grey);
	transition: var(--transition-hover);
}

.featureSidebarCategoryLink:hover {
	color: var(--colour-white);
}

.featureSidebarIcon {
	width: 24px;
	height: 24px;
	margin: 12.5px 12.5px 12.5px 12.5px;
}

.currentPage, .currentPage:visited {
	background: var(--colour-sidebar-current-page);
	color: var(--colour-white);
	pointer-events: none;
}

#featureSettingsContainer {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: auto;
	padding: 35px 35px 35px 35px;
	scrollbar-width: none;
}

#featureSettingsContainer::-webkit-scrollbar {
	width: 0;
}

#featureHeader {
	display: flex;
	flex-direction: column;
}

#featureHeader div {
	display: flex;
	align-items: center;
}

#featureName {
	font-size: 125%;
}

#featureDescription {
	margin: 20px 0 20px 0;
	font-size: 75%;
	color: var(--colour-light-grey);
	white-space: unset;
}

#featureSettings {
	margin: 15px 0 15px 0;
	padding: 15px 15px 15px 15px;
	background: var(--colour-black);
}

.settingsContainer {
	display: flex;
	flex-direction: column;
	padding: 7.5px 0 7.5px 0;
}

.settingsHeaderName {
	font-size: 90%;
	color: var(--colour-white);
}

.settingsHeaderDescription {
	margin: 5px 0 5px 0;
	font-size: 75%;
	color: var(--colour-light-grey);
	white-space: unset;
}

#saveChanges {
	position: sticky;
	bottom: -20px;
	display: flex;
	align-items: center;
	margin: auto 0 0 0;
	padding: 15px 15px 15px 15px;
	visibility: hidden;
	opacity: 0;
	background: var(--colour-black);
	box-shadow: var(--shadow-default);
	transition: var(--transition-collapse);
	font-size: 85%;
}

#saveChanges.visible {
	visibility: visible;
	opacity: 1;
}

#saveChanges p {
	flex: 1 1 auto;
	margin: 0 0 0 10px;
}

#revertChangesButton {
	padding: 10px 15px 10px 15px;
	background: var(--colour-red);
	transition: var(--transition-hover);
	color: var(--colour-black);
}

#revertChangesButton:hover {
	background: var(--colour-red-hover);
}

#saveChangesButton {
	margin: 0 0 0 15px;
	padding: 10px 15px 10px 15px;
	background: var(--colour-green);
	transition: var(--transition-hover);
	color: var(--colour-white);
}

#saveChangesButton:hover {
	background: var(--colour-green-hover);
}

.deleteElementButton {
	margin: 0 0 0 35px;
	padding: 7.5px 7.5px 7.5px 7.5px;
	background: var(--colour-red);
	transition: var(--transition-hover);
	font-size: 85%;
	color: var(--colour-black);
}

.deleteElementButton:hover {
	background: var(--colour-red-hover);
}

.subscribedChannel {
	margin: 15px 0 15px 0;
	padding: 15px 15px 15px 15px;
	background: var(--colour-black);
	transition: var(--transition-hover);
}

.subscribedChannel:hover {
	cursor: pointer;
	transform: scale(1.0125);
	box-shadow: var(--shadow-default);
}

.subscribedChannel.expanded:hover {
	cursor: default;
	transform: unset;
	box-shadow: unset;
}

.subscribedChannelHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.subscribedChannelData {
	max-width: 50%;
	display: flex;
	align-items: center;
	flex: 1 1 auto;
}

.subscribedChannelImage {
	width: 50px;
	height: 50px;
}

.subscribedChannelName {
	max-width: 67%;
	margin: 0 0 0 15px;
}

.subscribedChannelHeaderSideContainer {
	max-width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.headerDiscordChannelName {
	max-width: 67%;
	font-size: 90%;
	color: var(--colour-light-grey);
}

.subscribedChannel.expanded .headerDiscordChannelName {
	display: none;
}

.subscribedChannelSettings {
	display: none;
	margin: 15px 0 0 0;
}

.subscribedChannel.expanded .subscribedChannelSettings {
	display: block;
}

.subscribedChannelSettingsForm {
	display: flex;
}

.subscribedChannelSettingsHeader {
	margin: 0 0 5px 0;
	font-size: 80%;
	color: var(--colour-light-grey);
}

.subscribedChannelSettingsMessageContainer {
	display: flex;
	flex-direction: column;
	flex: 3	1 auto;
	margin: 0 15px 0 0;
}

.subscribedChannelSettingsMessage {
	min-height: 100px;
	padding: 15px 15px 15px 15px;
	background: var(--colour-dark-grey);
	border: none;
	outline: none;
	font: inherit;
	font-size: 85%;
	color: var(--colour-white);
	box-sizing: border-box;
	resize: none;
	scrollbar-width: thin;
}

.subscribedChannelSettingsMessage::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
}

.subscribedChannelSettingsMessage::-webkit-scrollbar-thumb {
	background: var(--colour-light-grey);
}

.subscribedChannelSettingsSideContainer {
	max-width: 30%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
}

.discordChannelListContainer {
	position: relative;
	padding: 10px 10px 10px 10px;
	background: var(--colour-dark-grey);
	user-select: none;
	cursor: pointer;
	font-size: 80%;
}

.discordChannelListHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.discordChannelListContainer span {
	transition: var(--transition-collapse-fast);
}

.discordChannelListContainer.expanded span {
	transform: rotate(180deg);
}

.discordChannelList {
	width: 100%;
	max-height: 175px;
	z-index: 1;
	position: absolute;
	top: 125%;
	left: 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 10px 10px 10px 10px;
	visibility: hidden;
	opacity: 0;
	background: var(--colour-dark-grey);
	box-shadow: var(--shadow-default);
	transition: var(--transition-collapse-fast);
	box-sizing: border-box;
	cursor: default;
	scrollbar-width: thin;
}

.discordChannelList::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
}

.discordChannelList::-webkit-scrollbar-thumb {
	background: var(--colour-light-grey);
}

.discordChannelListContainer.expanded .discordChannelList {
	visibility: visible;
	opacity: 1;
}

.discordChannelListCategoryName {
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 85%;
	text-transform: uppercase;
}

.discordChannelListEntry {
	min-height: 30px;
	display: flex;
	align-items: center;
	padding: 0 10px 0 10px;
	transition: var(--transition-hover);
	color: var(--colour-light-grey);
}

.discordChannelListEntry:hover {
	color: var(--colour-white);
	cursor: pointer;
}

.formButtonsContainer {
	display: flex;
	font-size: 85%;
}

.cancelChangesButton {
	flex: 1	1 auto;
	padding: 10px 15px 10px 15px;
	background: var(--colour-red);
	transition: var(--transition-hover);
	color: var(--colour-black);
}

.cancelChangesButton:hover {
	background: var(--colour-red-hover);
}

.saveChangesButton {
	flex: 1	1 auto;
	margin: 0 0 0 15px;
	padding: 10px 15px 10px 15px;
	background: var(--colour-green);
	transition: var(--transition-hover);
	color: var(--colour-white);
}

.saveChangesButton:hover {
	background: var(--colour-green-hover);
}

.reactionRole {
	margin: 15px 0 15px 0;
	padding: 15px 15px 15px 15px;
	background: var(--colour-black);
	transition: var(--transition-hover);
}

.reactionRole:hover {
	cursor: pointer;
	transform: scale(1.0125);
	box-shadow: var(--shadow-default);
}

.reactionRole.expanded:hover {
	cursor: default;
	transform: unset;
	box-shadow: unset;
}

.reactionRoleHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.reactionRoleData {
	max-width: 80%;
}

.reactionRoleChannelName {
	font-size: 90%;
	color: var(--colour-light-grey);
}

.reactionRoleMessage {
	font-size: 90%;
}

.reactionRoleSettings {
	display: none;
	margin: 10px 0 0 0;
}

.reactionRole.expanded .reactionRoleSettings {
	display: block;
}

.reactionRoleSettingsHeader {
	font-size: 80%;
	color: var(--colour-light-grey);
}

.reactionRoleReaction {
	display: flex;
	align-items: center;
	padding: 5px 7.5px 5px 7.5px;
}

.deleteReactionRoleReaction {
	margin: 0 0 0 -15px;
	padding: 5px 5px 5px 5px;
	font-size: 95%;
	color: var(--colour-red);
	user-select: none;
	transition: var(--transition-hover);
}

.deleteReactionRoleReaction:hover {
	color: var(--colour-red-hover);
	cursor: pointer;
}

.reactionRoleEmoji {
	width: 24px;
	margin: 0 10px 0 5px;
	user-select: none;
}

.discordRoles {
	display: flex;
	flex-wrap: wrap;
	font-size: 80%;
}

.discordRole {
	height: 15px;
	display: flex;
	align-items: center;
	background: var(--colour-dark-grey);
	margin: 5px 5px 5px 5px;
	padding: 5px 7.5px 5px 7.5px;
}

.discordRoleColour {
	width: 10px;
	height: 10px;
	margin: 0 7.5px 0 0;
}

.deleteDiscordRole {
	margin: 0 0 0 7.5px;
	font-size: 120%;
	color: var(--colour-red);
	user-select: none;
	transition: var(--transition-hover);
}

.deleteDiscordRole:hover {
	color: var(--colour-red-hover);
	cursor: pointer;
}

.addDiscordRole {
	height: 15px;
	position: relative;
	display: flex;
	justify-content: center;
	margin: 5px 5px 5px 5px;
	padding: 5px 7.5px 5px 7.5px;
	background: var(--colour-dark-grey);
}

.addDiscordRole:hover {
	cursor: pointer;
}

.addDiscordRole span {
	font-size: 120%;
	color: var(--colour-green);
	user-select: none;
	transition: var(--transition-hover);
}

.addDiscordRole:hover span {
	color: var(--colour-green-hover);
}

.discordRoleList {
	width: 175px;
	max-height: 175px;
	z-index: 1;
	position: absolute;
	top: 125%;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 10px 10px;
	visibility: hidden;
	opacity: 0;
	background: var(--colour-dark-grey);
	box-shadow: var(--shadow-default);
	transition: var(--transition-collapse-fast);
	cursor: default;
	overflow: auto;
	scrollbar-width: thin;
}

.discordRoleList::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
}

.discordRoleList::-webkit-scrollbar-thumb {
	background: var(--colour-light-grey);
}

.addDiscordRole.expanded .discordRoleList {
	visibility: visible;
	opacity: 1;
}

.discordRoleListEntry {
	min-height: 30px;
	display: flex;
	align-items: center;
	padding: 0 10px 0 10px;
	opacity: 0.9;
	transition: var(--transition-hover-fast);
}

.discordRoleListEntry:hover {
	opacity: 1;
	transform: scale(1.0125);
	cursor: pointer;
}

.reactionRoleSettingsContainerFooter {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 0 0;
}

.addReactionRoleReaction {
	height: 25px;
	padding: 5px 5px 5px 5px;
	color: var(--colour-light-grey);
	transition: var(--transition-hover);
}

.addReactionRoleReaction:hover {
	color: var(--colour-white);
	cursor: pointer;
}

.emoji-picker__emojis, .emoji-picker__container {
	scrollbar-width: thin;
}

.emoji-picker__emojis::-webkit-scrollbar, .emoji-picker__container::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
}

.emoji-picker__emojis::-webkit-scrollbar-thumb, .emoji-picker__container::-webkit-scrollbar-thumb {
	background: var(--colour-light-grey);
}
