main {
	display: flex;
	overflow: hidden;
}

#dashboard {
	display: flex;
	flex: 1 1 auto;
	margin: 2% 12.5% 2% 12.5%;
	background: var(--colour-dark-grey);
	box-shadow: var(--shadow-default);
}

#featureSidebar {
	min-width: 250px;
	overflow: auto;
	padding: 15px 20px 15px 20px;
	background: var(--colour-black);
	user-select: none;
	scrollbar-width: none;
	transition: var(--transition-collapse);
}

#featureSidebar::-webkit-scrollbar {
	width: 0;
}

.categoryName {
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 67.5%;
}

.categoryLink, .categoryLink:visited {
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 85%;
	color: var(--colour-light-grey);
	transition: var(--transition-hover);
}

.categoryLink:hover {
	color: var(--colour-white);
}

.icon {
	width: 24px;
	height: 24px;
	margin: 12.5px 12.5px 12.5px 12.5px;
}

.currentPage, .currentPage:visited {
	background: var(--colour-blue);
	color: var(--colour-white);
	pointer-events: none;
}

#collapseSidebar {
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#collapseSidebarButton {
	background: inherit;
	color: var(--colour-light-grey);
	transition: var(--transition-hover);
}

#collapseSidebarButton:hover {
	cursor: pointer;
	color: var(--colour-white);
}

#featureSidebar.collapsedSidebar {
	min-width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 7.5px 15px 7.5px;
}

#featureSidebar.collapsedSidebar #collapseSidebarButton {
	transform: rotate(180deg);
}

#featureSidebar.collapsedSidebar .featureCategory {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#featureSidebar.collapsedSidebar .categoryLinkText {
	display: none;
}

#featureSettings {
	flex: 1 1 auto;
	overflow: auto;
	padding: 35px 35px 35px 35px;
	scrollbar-width: none;
}

#featureSettings::-webkit-scrollbar {
	width: 0;
}

#featureHeader {
	display: flex;
	flex-direction: column;
}

#featureHeader div {
	display: flex;
	align-items: center;
}

#featureName {
	font-size: 125%;
}

#featureDescription {
	margin: 20px 0 20px 0;
	font-size: 75%;
	color: var(--colour-light-grey);
}

.settingEnabled {
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
}

.settingEnabledSwitch {
	width: 50px;
	height: 25px;
	position: relative;
	display: flex;
	align-items: center;
	background: var(--colour-red);
	appearance: none;
	transition: var(--transition-hover);
}

.settingEnabledSwitch:checked {
	background: var(--colour-green);
}

.settingEnabledSwitch::after {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	margin: 5px 5px 5px 5px;
	content: '';
	background: var(--colour-white);
}

.settingEnabledSwitch:checked::after {
	left: unset;
	right: 0;
}
