#guildContainer {
	width: 80%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin: 0 auto 0 auto;
}

.guild {
	width: 175px;
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px;
	padding: 30px 30px 30px 30px;
	background: var(--colour-dark-grey);
	box-shadow: var(--shadow-default);
	text-align: center;
	user-select: none;
	transition: var(--transition-hover);
}

.guild:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.guildIcon {
	width: 128px;
	height: 128px;
	margin: 0 auto 20px auto;
}

.guildIcon div {
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--colour-grey);
}

.manageButton {
	margin: 20px 0 0 0;
	padding: 10px 0 10px 0;
	background: var(--colour-background);
	font-size: 85%;
}

.inviteButton {
	margin: 20px 0 0 0;
	padding: 10px 0 10px 0;
	background: var(--colour-dark-white);
	font-size: 85%;
}

#noGuildsMessage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#noGuildsMessage p {
	margin: 5px 5px 5px 5px;
	font-size: 90%;
}
