#guildContainer {
	width: 90%;
	margin: 5% 5% 5% 5%;
}

#row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	width: 20%;
	background: #23282d;
	border: 1px solid transparent;
	margin: 0% 0% 5% 0%;
	transition: 0.3s;
	text-align: center;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.guildIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	height: 128px;
	margin: 10% auto 0% auto;
}

.cardBody {
	padding: 0% 10% 10% 10%;
}

.guildName {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.guildButton {
	display: block;
	background: #233a54;
	padding: 5% 0% 5% 0%;
}

@media screen and (max-width: 1000px) {
	.card {
		width: 40%;
	}
}

@media screen and (max-width: 620px) {
	#guildContainer {
		width: 100%;
	}

	.card {
		width: 80%;
	}
}
