body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #233a54;
	font: normal normal bold 100% 'Open Sans', sans-serif;
	color: #f0f0f0;
}

button {
	font: inherit;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

#header {
	background: #161616;
	display: flex;
	justify-content: space-around;
}

#navLinks {
	padding: 0;
}

#navLinks li {
	display: inline-block;
	padding: 0px 15px;
}

#navLinks li a {
	transition: all 0.3s ease 0s;
}

#navLinks li a:hover {
	color: #9b9b9b;
}

#loginButton {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

#userAvatar {
	padding: 0% 15% 0% 0%;
}

#subHeader {
	padding: 0.5% 0% 0.5% 0%;
	background: red;
	text-align: center;
}

#subHeader p {
	margin: 0;
	padding: 0;
}

footer {
	margin: auto 0 0 0;
	text-align: center;
	font: normal normal bold 75% 'Open Sans', sans-serif;
	color: #f0f0f0cc;
}
